body {
  font-family: Arial;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#app {
  background: white;
  padding: 50px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: indigo;
  color: #eee;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

li {
  background: #eee;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group {
  display: flex;
  gap: 10px;
}

button.edit{
  background: orange;
  color: white;
}

button.delete {
  background: red;
  color: white;
}
button.edit i{
  font-size: 16px;
}
button.delete i {
  font-size: 16px;
}
button.edit:hover {
  background: #cc7a00; /* darker orange */
  transform: scale(1.05);
  transition: all 0.2s ease;
}

button.delete:hover {
  background: #cc0000; /* darker red */
  transform: scale(1.05);
  transition: all 0.2s ease;
}

button i {
  pointer-events: none; /* icon ke click ko button handle kare */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none; /* pehle hidden rahe */
}

